@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

#container {
    height: 550px;
    width: 350px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 35px;
    border: 10px solid hsl(212, 45%, 89%);
    padding-top: 3px;
}


#container img {
    width: 91%;
    height: 70%;
    border-radius: 22px;
    padding: 10px;
}

#container h1 {
    font-weight: 700;
    margin: 0 10px 15px 10px ;
}

#container p {
    font-weight: 400;
    margin: 0 15px 0px 15px;
    padding: 0px 0px 30px 0px;
}

